body {
  margin: 0;
  font-family: 'Lucida Console', Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.input {
  width: 50%;
  margin-left: -4%;
}
.button {
  width: 20%;
  margin-left: 40%;
  margin-top: 1.5%;
}

.header-text-container {
  margin-left: 27%;
}

.todo-container-outer {
  border-radius: 10px;
  border: 2px solid #859aaf;
  min-height: 30%;
  margin-top: 3%;
  max-height: 65%;
}

.todo-container-outer {
  background-color: #a3c3c6;
  overflow: auto;
}

.body-container {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin-left: 25%;
  height: 100vh;
}

.mark-complete-button {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.input-container {
  margin-left:37%;
  margin-top: 2%;
}

.list-items {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  border-radius: 8px;
  border: 2px solid #859aaf;
  margin: 2%;
  height: 40px;
}

.list-items:hover {
  background-color: #fffced;
}

.list-items-complete {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  border-radius: 8px;
  border: 2px solid #859aaf;
  margin: 2%;
  padding: 5px;
  height: 40px;

}

.todo-container-inner-error {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12%;
}

.complete-icon {
  margin-top: 5px;
}
