body {
  margin: 0;
  font-family: 'Lucida Console', Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-background-colour{
  background-color: darkkhaki;
}
.button {
  max-width: 40%;
  margin-left: 30%;
  margin-top: 1.5%;
}

.header-text-container {
  margin-left: 27%;
}

.todo-container-outer {
  border-radius: 10px;
  border: 2px solid darkgrey;
  min-height: 30%;
  margin-top: 3%;
  max-height: 65%;
}

.todo-container-outer {
  background-color: lightgray;
  overflow: auto;
}

.body-container {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin-left: 25%;
  height: 100vh;
}

.mark-complete-button {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.input-container {
  margin-left:37%;
  margin-top: 2%;
}

.list-items {
  list-style-type: none;
  border-radius: 1px;
  border: 2px solid darkgrey;
  margin: 1%;
}

.complete-icon {
  margin-top: 5px;
}
